<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= link.title %></h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">URL</button>
        </div>
    </div>
</div>


  
  <ul class="list-group">
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Title:</b></div>
        <div class="col"><%= link.title %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Category:</b></div>
        <div class="col"><%= link.category %></div>
      </div>
    </li>
  
    
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Notes:</b></div>
        <div class="col"><%= link.notes %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
        <div class="col"><%= link.createdAt %></div>
      </div>
    </li>
  
    
  
  </ul>